
.html
  = render "side_bar"
  .contents
    .contents__group
      .contents__name
        test-group
      .contents__edit
        EDIT
      .contents__member
        Member
    .contents__messages   
      .contents_group
        .contents__user
          
        .contents__comments

    .contents__send
      .contents__letterbox
        .contents__letter
        hello
        .contents__photo
          %i.fa.fa-image
         
      .contents__btn
        .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
<<<<<<< HEAD
=======
          SEND
>>>>>>> parent of ca4d551... Carrierwaveの成功
