
.html
  = render 'shared/side_bar'
  .contents
    .contents__group
      .contents__group__name
        = @group.name
      .contents__group__edit
        = link_to edit_group_path(@group) do
          %div Edit
      .contents__group__member
        - @members.each_with_index do |member,i|
          -if i == 0
            = "member: #{member.name}"
          -else
            = "#{member.name}"

    .contents__messages
      .contents_messages_chat
        = render partial: "message", collection: @messages
    .contents__btn
      .contents__btn__form
        = form_for [@group, @message], :html => {:class => "contents__btn__form__box"} do |f|
          = f.text_field :content, class: 'contents__btn__form__box__message', placeholder: 'type a message'
          %div
            = f.label :image, class: 'contents__btn__form__box__message__image' do
              = fa_icon 'picture-o', class: 'contents__btn__form__box__message__image__icon'
              = f.file_field :image, class: 'contents__btn__form__box__message__image__hidden'
          = f.submit 'Send', class: 'contents__btn__form__box__submit'