
.html
  = render "side_bar"
  .contents
    .contents__group
      .contents__group__name
        test-group
      .contents__group__edit
        EDIT
      .contents__group__member
        Member
    .contents__messages   
      .contents__message__group
        .contents__message__user
          
        .contents__message__comments
    .contents__btn
      .contents__btn__form
        = form_for [@group, @message], :html => {:class => "contents__btn__form__box"} do |f|
          = f.text_field :content, class: 'contents__btn__form__box__message', placeholder: 'type a message'
          %div
            = f.label :image, class: 'contents__btn__form__box__message__image' do
              = fa_icon 'picture-o', class: 'contents__btn__form__box__message__image__icon'
              = f.file_field :image, class: 'contents__btn__form__box__message__image__hidden'
          = f.submit 'Send', class: 'contents__btn__form__box__submit'
  .messages
    = render @messages

